doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title amazon clone
    //-fav icon
    link(rel="shortcut icon", href="public/images/favicon.webp", type="image/x-icon")
    //-icon css
    link(rel="stylesheet", href="public/css/fontello.css")
    //-google font
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")
    //- owl carousel
    link(rel="stylesheet", href="public/css/owl.carousel.min.css")
    link(rel="stylesheet", href="public/css/owl.theme.default.min.css")
    //-style css
    link(rel="stylesheet", href="public/css/style.css")
    //- fetching main api
    include ./includes/data.pug
  body.bg-slate-200.font-open-sans.text-sm(class='min-h-[300vh]')
    //- ================== header start ====================
    header.bg-amazon-black.text-white.capitalize(class='py-2.5')
      .container.flex.items-center.gap-3.px-0
        a(href="index.html")
          img.logo(src="public/images/logo.webp", alt='logo', class="pl-2.5").w-28
        .flex.items-end
          i.icon-location-outline
          .flex.flex-col.leading-tight
            span.text-amazon-grey-100.text-2xs Deliver to
            span.capitalize.font-bold egypt

        .flex.rounded-md.overflow-hidden.grow
          .group.relative
            .bg-off-white.text-amazon-grey-200.border-r.border-amazon-grey-200.py-2.flex.items-center.cursor-pointer(class='px-2.5 group-hover:bg-amazon-grey-100 group-hover:text-black')
              span.value.capitalize.mr-1 all
              i.icon-down-dir.text-icon

            select.text-black.border.opacity-0.absolute.top-0.z-0.h-10.cursor-pointer(id='category', name='category')
              - const searchCategories = data.find((el) => el.name === "searchCategories").array
              each searchCategory in searchCategories
                option(value= searchCategory.replace("&", "and").split(" ").join("-"))= searchCategory

          input.relative.z-10.grow.px-2.text-black(type="search", name="category", placeholder='search amazon')
          .relative.z-10.bg-orange-300.grid.place-items-center.text-black.cursor-pointer.px-3.py-2
            i.icon-search

        .flex.items-center.cursor-pointer.relative(class='group/selector-cont')
          img(src="public/images/lang-flag.webp", alt="language-flag").w-5.block.mr-1
          span.lang-initials.leading-0.text-sm.font-bold EN
          i.icon-down-dir.text-icon.text-amazon-grey-100.self-end(class='mt-1.5')

          ul.absolute.z-10.top-3.pt-4.text-amazon-grey-200.w-max.rounded-md.hidden(class='group-hover/selector-cont:block before:content-[""] before:absolute before:top-0 before:left-[22.5%] before:border-8 before:border-transparent before:border-b-white')
            - const languages = data.find((el) => el.name === 'languages').array
            each language in languages
              li.flex.items-center.pt-4.pl-4.bg-off-white(class='hover:text-orange-500 group/item')
                .icon-container.relative
                  i.icon-circle-thin
                  i.icon-dot.text-lg.leading-0.absolute.text-orange-400.opacity-0(class='top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover/item:opacity-100')
                span.inline-block.mr-12= language

        .group.leading-2.cursor-pointer
          span.text-2xs Hello, sign in
          br
          span.font-bold.text-sm accounts &amp; lists
          i.icon-down-dir.text-icon.text-amazon-grey-100

          .absolute.z-10.right-4.top-10.pt-4.p-5.text-gray-700.w-max.rounded-md.hidden(class='group-hover:block before:content-[""] before:absolute before:top-0 before:right-1/4 before:border-8 before:border-transparent before:border-b-off-white')
            .bg-off-white.pl-4
              .sign-in-container.bg-off-white.pt-4
                a.block.w-max.mb-1.py-2.px-24.mx-auto.bg-yellow-300.text-black.rounded-md.text-center(href="sign-in.html") sign in
                div.lowercase.text-xs.text-center.mb-6 new customer?
                  a.inline-block.ml-2.text-blue-400(href="sing-up.html", class='hover:underline hover:text-orange-400') start here

              .grid.grid-cols-2.gap-x-20.bg-off-white
                div
                  h2.text-black your lists
                  ul.flex.flex-col.gap-2.mt-4.text-xs
                    li.mb-1
                      a.block(href="lists.html", class='hover:text-orange-500 hover:underline') create a list
                    li.mb-1
                      a.block(href="find-lists.html", class='hover:text-orange-500 hover:underline') find a list or registry
                div
                  h2.text-black your account
                  ul.flex.flex-col.gap-2.mt-4.text-xs
                    - const accountListItems = data.find((el) => el.name === 'accountListItems').array
                    each accountListItem in accountListItems
                      li.mb-1
                        a.block(href= accountListItem.replace('&amp;', 'and').split(' ').join(), class='hover:text-orange-500 hover:underline')= accountListItem.replace('&amp;', '\&')

        .returns-orders.leading-2.cursor-pointer
          span.text-2xs returns
          br
          span.font-bold.text-sm &amp; orders

        .cart-container.cursor-pointer
          .cart-w-num.relative.mr-4
            span(class='left-1/2 -translate-x-1/2 -translate-y-1/2').absolute.top-0.text-orange-400.font-bold 0
            i.icon-opencart.text-2xl
          cart
    //- ================== secondary nav ====================
    nav.bg-amazon-navy.text-off-white.py-2
      .container.flex.items-center.px-2
        div.all-menu.mr-3.cursor-pointer
          i.icon-menu
          span.capitalize all
        ul.flex.items-center.gap-x-4.mr-auto.capitalize.text-sm
          - const secondaryNavLinks = data.find((el) => el.name === 'secondaryNavLinks').array
          each secondaryNavLink in secondaryNavLinks
            li
              a(href= secondaryNavLink.split(' ').join('').replace("'", "") + '.html')= secondaryNavLink
        a.text-sm.font-bold(href="deals.html") shop deals in electronics
    //- ================== aside ====================
    .aside-container.w-full.h-screen.absolute.z-20.top-0.hidden.opacity-0.duration-200(class='bg-black/80')
      i.close-aside.icon-cancel.text-off-white.absolute.text-2xl.cursor-pointer.duration-300.left-0
      aside.main.bg-off-white.relative.top-0.left-0.h-screen.overflow-scroll.duration-300.-translate-x-full(class='w-1/3')
        div.bg-amazon-navy.text-off-white.pl-9.text-lg
          a.block.font-bold.py-2(href="sign-in.html")
            i.icon-user-circle.mr-2.text-2xl
            | Hello, sign in
        div.aside-list-container.capitalize.relative.duration-300.overflow-hidden
          - const asideLists = data.find((el) => el.name === 'asideLists').array
          each list in asideLists
            ul.border-b-2.border-amazon-grey-100.mt-4(class='last:border-b-0', data-heading= list.heading)
              h2.px-9.mb-2.font-bold= list.heading
              each link in list.links
                li.group(class='hover:bg-blue-100')
                  button.capitalize.flex.justify-between.items-center.w-full.px-9.py-2.my-1.cursor-pointer
                    span= link.name
                    if(link.openInSamePage)
                      i.icon-angle-right.text-amazon-grey-200.text-lg(class='group-hover:text-black')
              - if (list.seeAll)
                li.group.px-9.py-2.my-1.flex.items-center.cursor-pointer(class='hover:bg-blue-100')
                  | see all
                  i.icon-angle-down.text-amazon-grey-200.text-lg(class='group-hover:text-black')
          .sub-menu-container.absolute.-top-4.left-full.duration-300.w-full.h-full.bg-off-white
            .main-menu-button.group.flex.items.center.px-9.py-4.mb-2.font-bold.border-b-2.border-amazon-grey-100.cursor-pointer(class='hover:bg-blue-100')
              i.icon-left.inlin-block.mr-3.text-amazon-grey-100(class='group-hover:text-black')
              span.capitalize main menu
            .sub-menu-list-container

    //- ================== hero section =============
    section
      .hero-carousel.owl-carousel.relative(class='mb-[-50vh]')
        - const heroLinks = data.find((el) => el.name === 'hero').links
        each link in heroLinks
          .item.w-screen
            a.block.h-full(href=`${link.href}.html`)
              img.object-cover.h-full(class='hero-img', src=`${link.bgImgPath}`, alt="")
    //- ================== cards and sliders =============
    section.cards-and-sliders

    script(src="public/js/jquery-3.7.0.min.js")
    script(src="public/js/owl.carousel.min.js")
    script(src="public/js/mainScript.js", type='module')
